<div class="ngx-gist-playground-page">
  <div class="ngx-gist-playground-page__header">
    <!-- <small class="ngx-gist-playground-page__rubrik">Library</small> -->
    <h1 class="ngx-gist-playground-page__title">Getting Started</h1>
    <h3 class="ngx-gist-playground-page__subtitle">Embedding GitHub Gists in Angular made easy</h3>
    <div class="ngx-gist-playground-page__description">
      <p class="rich-text">
        This simple, lightweight and high-performance library allows you to embed GitHub Gists in your Angular
        application without any hassle.
      </p>
    </div>
  </div>
  <div class="ngx-gist-playground-page__content">
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Prequisites</h2>

      <div class="ngx-gist-playground-page__content__item__code__block single-line">
        <p>Make sure to have <code class="inline-code">iframe-resizer</code> installed. This library is needed for
          auto-resizing the iframe
          in which the gist is rendered.</p>
        <pre>
          <code [highlight]="installationStep1"></code>
        </pre>
      </div>

    </div>
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Installation</h2>


      <div class="ngx-gist-playground-page__content__item__code__block single-line">
        <p><i>Install the library with <b>npm</b></i></p>
        <pre>
          <code [highlight]="installationStep2"></code>
        </pre>
      </div>

      <div class="ngx-gist-playground-page__content__item__code__block single-line">
        <p><i>Or use <b>yarn</b></i></p>
        <pre>
          <code [highlight]="installationStep3"></code>
        </pre>
      </div>
    </div>

    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Usage</h2>
      <!-- <p class="ngx-gist-playground-page__content__item__description"></p> -->

      <div class="ngx-gist-playground-page__content__item__code__block">
        <p><i>Import the library into desired module</i></p>
        <pre>
          <code [highlight]="usageStep1"></code>
        </pre>
      </div>


      <div class="ngx-gist-playground-page__content__item__code__block">
        <p><i>Use the</i> <code class="inline-code">ngx-gist</code> <i>component in your template</i></p>
        <pre>
          <code [highlight]="usageStep2"></code>
        </pre>
      </div>
    </div>
  </div>
</div>
