<div class="ngx-gist-playground-page">
  <div class="ngx-gist-playground-page__header">
    <!-- <small class="ngx-gist-playground-page__rubrik">Library</small> -->
    <h1 class="ngx-gist-playground-page__title">ngx-gist</h1>
    <h3 class="ngx-gist-playground-page__subtitle">Embedding GitHub Gists in Angular made easy</h3>
    <div class="ngx-gist-playground-page__description">
      <p class="rich-text">
        This simple, lightweight and high-performance library allows you to embed GitHub Gists in your Angular
        application without any hassle.
      </p>
    </div>
  </div>
  <div class="ngx-gist-playground-page__content">
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Features</h2>
      <p class="ngx-gist-playground-page__content__item__description">
        This is a simple playground for your gists. You can use it to test your
        gists and share them with others.
      </p>
      <ul>
        <li>Embed a gist by ID</li>
        <li>Embed specific file from a list of files within a gist</li>
        <li>Autosize rendered IFrame element</li>
      </ul>
    </div>
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">How to use it?</h2>
      <p class="ngx-gist-playground-page__content__item__description">
        You can use it by simply pasting the URL of your gist in the input field
        and clicking on the "Load" button. You can also use the "Share" button to
        share your gist with others.
      </p>
    </div>
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">How to contribute?</h2>
      <p class="ngx-gist-playground-page__content__item__description">
        You can contribute by simply forking the
        <a href="https://github.com/ekkolon/ngx-gist" target="_blank" rel="noopener noreferrer"
          class="ngx-gist-playground-page__content__item__description__link">repository</a>
        and submitting a pull request.
      </p>
    </div>
  </div>
</div>
