<div class="ngx-gist-playground-page">
  <div class="ngx-gist-playground-page__header">
    <!-- <small class="ngx-gist-playground-page__rubrik">Library</small> -->
    <h1 class="ngx-gist-playground-page__title">Examples</h1>
    <!-- <h3 class="ngx-gist-playground-page__subtitle">A</h3> -->
    <div class="ngx-gist-playground-page__description">
      <p class="rich-text">
        A collection of examples of how to use the library.
      </p>
    </div>
  </div>
  <div class="ngx-gist-playground-page__content">
    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Embed a single gist file</h2>
      <p class="ngx-gist-playground-page__content__item__description">
        Template:<br> <code
          class="inline-code">&lt;ngx-gist [gistId]="'05151ac90b51a5d3a0c3e85cb942a456'" file="ngx_gist_embed_example_2.py"&gt;&lt;/ngx-gist&gt;</code>
      </p>

      <ngx-gist [gistId]="'05151ac90b51a5d3a0c3e85cb942a456'" file="ngx_gist_embed_example_2.py"></ngx-gist>
    </div>

    <div class="ngx-gist-playground-page__content__item">
      <h2 class="ngx-gist-playground-page__content__item__title">Embed all gist files</h2>
      <p class="ngx-gist-playground-page__content__item__description">
        Template: <br> <code
          class="inline-code">&lt;ngx-gist [gistId]="'05151ac90b51a5d3a0c3e85cb942a456'"&gt;&lt;/ngx-gist&gt;</code>
      </p>

      <ngx-gist [gistId]="'05151ac90b51a5d3a0c3e85cb942a456'"></ngx-gist>
    </div>
  </div>
</div>
